<app-poro-nav></app-poro-nav>
<div class="row card-container">
  <div class="col-md-3 shadow-sm">
    <div class="card border-dark">
      <div class="card-body">
        <div class="card-title">
          <i class="fas fa-graduation-cap orange fa-lg"></i>
        </div>
        <p class="card-text">Trouver un emploi dans le domaine de votre choix et adapter à vos competences et à votre profil. et cela sans réaliser
          plus de démarche que le simple remplissage de votre profil !</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 shadow-sm">
    <div class="card border-dark">

      <div class="card-body">
        <div class="card-title">
          <i class="fas fa-balance-scale orange fa-lg"></i>
        </div>
        <p class="card-text">Laisser votre futur employeur vous trouver en ne se basant que sur vos compétences. Sans laisser votre age / sexe
          / physique ou élément exterieur l'influencer. </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 shadow-sm">
    <div class="card border-dark">

      <div class="card-body">
        <div class="card-title">
          <i class="fas fa-users orange fa-lg"></i>
        </div>
        <p class="card-text">Une application sans discrimination qui permet de simplement repondre/rechercher à une demande d'emploi Compatible
          sur Smarthphone, Tablette ou ordinateur.</p>
      </div>
    </div>
  </div>
</div>
<div class="presentation">
  <div>
    <img src="../../poromeetlink/assets/image/Poro-Meet-Link-White.png" class="img-thumbnail">
  </div>
  <div class="texte">
    <h2>Poro Meet Quoi ?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus consequuntur distinctio optio incidunt eum sapiente
      nulla ea vero deserunt officia eaque quos, omnis, dolores ipsum? Exercitationem illo deleniti porro sint.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quia esse amet praesentium laudantium reiciendis totam
      eligendi provident, deserunt, quaerat quod cupiditate maiores sequi a labore ad? Maiores, corporis necessitatibus.</p>
  </div>
</div>
