<div class="modal-header">
  <h4 class="modal-title">Bienvenue</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Pour compléter votre profile employé, merci de saisir le formulaire ci-dessous. Nous vous rappelons que ces données restent
    confidentielles et ne seront pas transmises sans votre accord.
  </p>
<form [formGroup]="formEmploye">
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" id="nom" aria-describedby="libelleHelp" formControlName="nom" />
    <small id="libelleHelp" class="form-text text-muted">Saisissez votre nom</small>
  </div>
  <div class="form-group">
    <label for="prenom">Prénom</label>
    <input type="text" class="form-control" id="prenom" aria-describedby="libelleHelp" formControlName="prenom" />
    <small id="libelleHelp" class="form-text text-muted">Saisissez votre prénom</small>
  </div>
  <div class="form-group">
    <label for="libellePoste">Poste</label>
    <input type="text" class="form-control" id="libellePoste" aria-describedby="libelleHelp" formControlName="libellePoste" />
    <small id="libelleHelp" class="form-text text-muted">Saisissez le poste que vous occupez</small>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="formEmploye.invalid" (click)="onSubmitForm()">{{valideButtonLabel}}</button>
  <button type="reset" class="btn btn-warning ">Effacer</button>
</form>
</div>
<div class="modal-footer">
  <div *ngIf="showError" class="alert alert-danger" role="alert">
    Une erreur s'est produite pendant l'enregistrement
  </div>
  <button type="button" class="btn btn-outline-dark" (click)="close()">Quitter</button>
</div>
